<!DOCTYPE html>
<html lang="en" class="animated fadeInRight slow">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- link for animate library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
    
    <!-- link for google font -->
    <link href="https://fonts.googleapis.com/css2?family=Monoton&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">

    <!-- link for stylesheet -->
    <link rel="stylesheet" href="/CSS/Style.css">

    <link rel="shortcut icon" href="img/logo 1.png" type="image/x-icon">
    <title>Home | RedBlood</title>

</head>
<body onload="loading()">
    
    <div class="loading">
        <div class="txt">
            <p>Loading...</p>
        </div>
        <img src="img/heartbeat.svg">
        <div class="wrapper"></div>
    </div>

    <!-- <header> -->
        <!-- navbar -->
        <!-- <nav id="navbar">
            <div class="logo">
                <img src="img/logo 1.png">
                <p>REDBLOOD</p>
            </div>

            <div class="menu-wrap">
                <input type="checkbox" class="toggler">
                <div class="hamburger-logo"><hr><hr><hr></div>
                <div class="menu">
                    <div>
                        <div>
                            <ul>
                                <li><a href="/">HOME</a></li>
                                <li><a href="/donorsignup">DONATE BLOOD</a></li>
                                <li><a href="/Orglogin">REQUEST FOR BLOOD</a></li>
                                <li><a href="#">ABOUT</a></li>
                            </ul>
                        </div>
                    </div>
                </div>    
            </div> 
        </nav>
    </header> -->
    
    <!-- body section -->
    <section class="hero">
        
        <div class="heading">
            <video src="img/bgvideo.mp4" autoplay loop muted id="myvideo"></video>
            <p id="firstp">REDBLOOD</p>
            <p id="secondp">REDBLOOD</p>

            <div class="content">
                <p>"Donate your blood for a reason, let the reason to be life” Every blood donor is a life saver and We are here to manage a blood bank. Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit accusamus impedit a est quam nemo vitae exercitationem dolorum explicabo.</p>
                <button id="first" class="btn"><a href="/donorlogin">Donate Blood</a></button>
                <button class="btn-dark"><a href="/donorlogin">Request Blood</a></button>
            </div>
        </div>

        <!-- <div class="image-section">
            <div class="colorPlate"></div>
            <img src="img/home.png">
        </div> -->

    </section>
    
    <script src="JS/index.js"></script>

</body>
</html>