/* instruction page style */
.inst{
    position: relative;
    width:100%;
    height:100vh;
    display: grid;
    grid-template-columns: 20fr 80fr;
    font-family: 'Poppins';
    z-index:0;
}
.side-nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index:2;
    box-shadow: 5px 0px 18px 0px rgba(133,129,133,1);
}
.side-nav .profile{
    flex:0.5;
    padding-top:25px;
}
.side-nav img{
    width:100px;
    height:100px;
    border-radius: 50%;
    background-color: aquamarine;
    border: none;
    margin-left:20px;
}
.side-nav .bottom{
    width: 100%;
    position: relative;
    top:160px;
    bottom: 0px;
    left:0px;
    display: grid;
    grid-template-columns: 50fr 50fr;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0px -2px 13px 0px rgba(0,0,0,0.75);
}
.bottom .edit,.bottom .logout{
    display: flex;
    justify-content: center;
    align-items: center;
}
.logout i{
    height:20px;
    width: 25px;
    transform: rotate(180deg);
}
.logout p a,.edit p a{
    color:black;
    text-decoration: none;
    padding:10px;
    font-size:20px;
}
.logout p a:hover,.edit p a:hover{
    color:var(--primary-color);
}
.logout p a:hover + .logout i{
    color:var(--primary-color);
}
.profile p{
    text-align: center;
    font-size: 25px;
    margin: 0px;
    padding-top:10px;
}
.instruction{
    width:100%;
    display: grid;
    grid-template-columns: 20fr 80fr;
    align-items: center;
    justify-content: center;
    box-shadow: 5px 8px 28px 0px rgba(133,129,133,1);
    margin-top:30px;
}
.instruction p a{
    text-decoration: none;
    color:var(--primary-color);
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 20px;
}
.instruction i{
    color:var(--primary-color);
    margin:1px auto;
}
.org, .req, .cong{
    width:100%;
    display: grid;
    grid-template-columns: 20fr 80fr;
    align-items:center;
    justify-content: center;
    margin-top:20px;
}
.org p a, .req p a, .cong p a{
    color:#9e9898;
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 1px;
    font-size:20px;
}
.org i, .req i, .cong i{
    color:#9e9898;
    margin:1px auto;
}

/* main section style */
.main-section{
    background-color: #eeeeee;
    padding:20px;
    margin-bottom: 20px;
    overflow-y: scroll;
}
.main-section h3{
    color:var(--primary-color);
    font-weight: bold;
    margin-bottom: 0px;
}
.main-section hr{
    width:20%;
    margin-left: 0px;
    border:1px solid var(--primary-color);
    margin-top:0px;
    padding-top:0px;
}
::-webkit-scrollbar {
    width: 8px;
    border-radius: 20%;
}
::-webkit-scrollbar-track {
    background: #cecece;
}
::-webkit-scrollbar-thumb {
    background: #9e9898;
    border-radius: 5%;  
}
.main-section button{
    /* align-items: flex-end; */
    width:15%;
    margin-left:80%;
    margin-top:5%;
    margin-bottom:5%;
    padding:5px;
    /* box-shadow: none; */
}
.main-section button a{
    color:white;
    text-decoration: none;
    display: block;
}

